
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
package.json
package-lock.json

#vscode
Resume_web.code-workspace

#terraform
Terraform_planning_doc.txt
*.tfvars
*.tfbackend
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl